<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add article</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<th:block th:insert="~{layout/header}"></th:block>
<main>
    <h2>Create new Article</h2>
    <form method="post" th:action="@{/article/update}" th:object="${articleForm}" enctype="multipart/form-data">
        <input type="text" hidden="hidden" th:field="*{id}">
        <div>
            <label for="designation">Designation : </label>
            <input id="designation" type="text" th:field="*{designation}" required>
        </div>
        <div>
            <label for="price">Price TTE</label>
            <input id="price" type="number" step="0.01" th:field="*{unitPriceExcludingTax}" required>
        </div>
        <div>
            <label>VAT : </label>
            <input th:each="vatOption : ${vatOptions}"
                   type="radio"
                   th:value="${vatOption}"
                   th:field="*{vat}"
                   th:text="${vatOption.value}+ ' %'">
        </div>
        <div>
            <label for="category">Category :</label>
            <select th:field="*{categoryId}" id="category">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.designation}"></option>
            </select>
        </div>
        <div>
            <label for="picture">Picture :</label>
            <input id="picture" type="file" th:field="*{image}" accept=".jpg,.jpeg,.png">
            <img th:if="*{imageUrl != null}" th:src="@{'/images/' + *{imageUrl}}" th:alt="*{designation}">
        </div>
        <button>Update</button>
    </form>
</main>
<th:block th:insert="~{layout/footer}"></th:block>
</body>
</html>
