*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 120px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav{
    margin-top: auto;
    padding: 15px 30px;
    width: 100%;
    background-color: darkslateblue;
}

header nav a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

main{
    flex: 1;
    padding: 40px;
}

main table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    text-align: left;
    padding: 20px 0px 20px 10px;
}

tr{
    border-bottom: 1px solid black;
}

main .card{
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    padding-bottom: 25px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-content: center;
}

main .card h2{
    background-color: darkcyan;
    padding: 15px;
}

main .card p{
    margin: 0 15px;

}

main .card img {
    width: fit-content;
    margin: 15px;
}

footer{
    margin-top: auto;
    background-color: lightgrey;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
}

button a{
    color: white;
}

main h2{
    text-align: center;
    margin-bottom: 1rem;
}

main form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
    padding: 2rem;
    gap: 15px;
    margin: auto;
    flex-wrap: wrap;
}

main form input, main form select {
    padding: 5px 10px;
}

.buttons{
    display: flex;
    gap: 15px;
}

.button-form{
    border: none;
    padding: 0;
    margin: 0;
}